<!-- <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand">Dandelion API</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/entity_extraction'" class="nav-link active" aria-current="page">Entity extraction</a>
          <a [routerLink]="'/text_similarity'" class="nav-link active" aria-current="page">Text similarity</a>
          <a [routerLink]="'/language_detection'" class="nav-link active" aria-current="page">Language detection</a>
          <a [routerLink]="'/sentiment_analysis'" class="nav-link active" aria-current="page">Sentiment analysis</a>
          <a [routerLink]="'/token_configuration'" class="nav-link active" aria-current="page">Token configuration</a>
          <a [routerLink]="'/request_history'" class="nav-link active" aria-current="page">Request history</a>
        </div>
      </div>
    </div>
  </nav>
</header> -->

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>