<div>
    <button [routerLink]="['/get_users']" type="button" class="btn btn-primary">Return to user list</button>
</div>
<br>
<div>
	<h3><b>User creation page</b></h3>
	<br>
	<div>
        <label for="checkbox">Authorization roles:</label>
        <div class="form-check">
            <input [(ngModel)]="readRole" class="form-check-input" type="checkbox" 
                value="CAN_READ_USERS" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">READ</label>
        </div>
        <div class="form-check">
            <input [(ngModel)]="createRole" class="form-check-input" type="checkbox" 
                value="CAN_CREATE_USERS" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">CREATE</label>
        </div>
        <div class="form-check">
            <input [(ngModel)]="updateRole" class="form-check-input" type="checkbox" 
                value="CAN_UPDATE_USERS" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">UPDATE</label>
        </div>
        <div class="form-check">
            <input [(ngModel)]="deleteRole" class="form-check-input" type="checkbox" 
                value="CAN_DELETE_USERS" id="defaultCheck4">
            <label class="form-check-label" for="defaultCheck4">DELETE</label>
        </div>
        <br>
		<form [formGroup]="postForm" (submit)="postUser()" class="mb-5">
			<div class="form-group mb-2">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" name="name" 
					placeholder="Enter the user's name" [(ngModel)]="userInfo.name" [formControlName]="'name_field'" required>
				<label for="surname">Surname:</label>
				<input type="text" class="form-control" id="surname" name="surname"
					placeholder="Enter the user's surname" [(ngModel)]="userInfo.surname" [formControlName]="'surname_field'" required>
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" name="email"
                    placeholder="Enter the user's email address" [(ngModel)]="userInfo.email" [formControlName]="'email_field'" required>
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Enter the user's password" [(ngModel)]="userInfo.password" [formControlName]="'password_field'" required>
			</div>
			<br>
			<button type="submit" class="btn btn-primary">Create user</button>
		</form>
	</div>
</div>